<div class="container">
    <p>All Location</p>


    <div class="row">

        <div class="card md-4 m-2" style="width: 18rem;" *ngFor="let l of locations">
            <img [src]="'http://localhost:8089/images/locations/'+l.image" class="card-img-top" alt="{{l.name}}">
            <div class="card-body">
              <h5 class="card-title">Name: {{l.name}}</h5>              
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

    </div>

    

</div>
